/* styles.css */
@import url("https://fonts.googleapis.com/css2?family=Press+Start+2P&family=Roboto&family=Winky+Sans:ital,wght@0,300..900;1,300..900&display=swap");

* {
  --header-font: "Press Start 2P", "Roboto";
  --title-font: "Winky sans", "Arial";
}
body {
  height: 100%;
  width: 100%;

  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #1a1a1a;
  color: #faebd7;
  box-sizing: border-box;
}

header {
  font-family: var(--header-font);
  font-size: 50px;
  margin: 10px;
}

.board-container {
  display: flex;
  flex-direction: row;
  gap: 50px;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "Roboto";
  font-weight: 400;
  font-size: 26px;
}

.board-area {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.player-title,
.health-details {
  margin: 10px;
}

.gameboard {
  display: grid;
  grid-template-columns: repeat(11, 1fr);
  gap: 1px;
}

.square {
  width: 35px;
  height: 35px;
  outline: 1px #b87333 solid;
  cursor: pointer;
}

.cell-header {
  font-size: 16px;
  color: #cd7f32;
  font-weight: bold;
  text-align: center;
  line-height: 30px;
}

.missed-square {
  background-color: #a9a9a9;
}

.damaged-square {
  background-color: #ff4500 !important;
}

.sunk-square {
  background-color: #708238 !important;
}

.ship {
  background-color: #cd7f32;
}

.events-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 6px;
}

.event-log {
  background-color: transparent;
  color: #cd7f32;
  border: #cd7f32 solid 2px;
  border-radius: 10px;
  overflow: auto;
  height: 140px;
  width: 800px;
}

.event {
  display: flex;
  align-items: center;
  gap: 10px;
  border-block-end: solid #cd7f32 2px;
}

p.turn {
  vertical-align: middle;
  width: 40px;
  display: flex;
  justify-content: center;
}

.event-description {
  width: 100%;
  text-align: center;
}

.miss-event {
  border-left: solid #a9a9a9 5px;
}

.hit-event {
  border-left: solid #ff4500 5px;
}

.sunk-event,
.win-event {
  border-left: solid #708238 5px;
}

.turn,
.event-description {
  padding-left: 8px;
  font-size: 16px;
}

a,
a:visited,
a:hover,
a:active {
  color: inherit;
}

i {
  padding-left: 4px;
}

i:hover {
  transform: scale(1.5);
}

footer {
  position: fixed;
  bottom: 10px;

  font-family: "Roboto";
  font-weight: 400;
  font-size: 14px;
}
